resources/ytdl/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
resources/ytdl/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
resources/HandBrakeCLI.exe filter=lfs diff=lfs merge=lfs -text
installer/resources/gorex-app/resources/ytdl/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
installer/resources/gorex-app/resources/ytdl/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
installer/resources/gorex-app/resources/ytdl/yt-dlp.exe filter=lfs diff=lfs merge=lfs -text
installer/resources/gorex-app/resources/ytdl/yt-dlp_macos filter=lfs diff=lfs merge=lfs -text
resources/ytdl/node.exe filter=lfs diff=lfs merge=lfs -text
